{% extends 'core/base.html' %}

{% block title %} Reset Password {% endblock title %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="oldpassword" class="form-label">Old Password</label>
            <input type="password" name='oldpassword' class="form-control" id="oldpassword" placeholder="Enter old password">
        </div>
        <div class="mb-3">
            <label for="newpassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Enter new password">
        </div>
        <button type="submit" class="btn btn-primary">Reset</button> 
    </form>
{% endblock content %}